@import url(https://fonts.googleapis.com/css?family=Caudex);
@import url(https://fonts.googleapis.com/css?family=Oxygen:300);

*{
margin:0;
padding:0;
box-sizing:border-box; 
}

body {
	font-family: Oxygen;
	margin: 20px;
}

header {
	text-align: left;
	background-color: #FFED74;
}

main {
	text-align: left;
}

h1 {
	font-family: 'Caudex', serif;
}

p {
	padding-right: 600px
}

a {
text-decoration: none;
color: #B0A333;
padding: 10px;
}

.maroon_headline {
	color:#7A1239;
	padding-top: 100px
}

.section {
	background-color: #FFE2B8;
}

.white_headline{
	color: white;
}

.white_p{
	color: white;
}

.green_section{
	background-color: #B0A333;
}

.clearfix:after{
height:0;
font-size:0;
visibility: hidden;
content:’ ‘;
display: block;
clear:both;
}

#footer{
	text-align: center;
	background-color: #FF957E
}
